#container_content {
    width: 100%;
    display: flex;
    justify-content: center;

}
#container_content .wcontainer .content {
    margin-top: 100px;
}
#container_content .wcontainer {
    width: 55%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    border-block: 2px solid rgb(78, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#ctftitle {
    color: white;
    font-weight: bold;
}
#ctfdesc {
    color: white;
    margin-top: 40px;
}

#flagform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnsubmit1{
    margin-top: 40px;
}

#btnsubmit2 {
    margin-top: 40px;
}

#container_global {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

#container_nav {

    overflow-y: scroll;
    max-height: 800px;
    border-block: 2px solid rgb(78, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

#navctfs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navctfs button {
    background-color: rgba(0, 0, 0, 0.5);
    border-block: none;
    border-inline: 1px solid rgb(78, 0, 0);
    cursor: pointer;
    padding: 30px;
    width: 80%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#navctfs button:hover {
    border-inline: none;
    border-block: 1px solid rgb(78, 0, 0);
}