<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>WizardBox | Admin</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- HEADER-->
        <link href="/assets/css/header.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

        <!-- CONTENT -->
        <link href="/assets/css/admin.css" rel="stylesheet" />
        <link href="/assets/css/core/inputtext.css" rel="stylesheet" />
        <link href="/assets/css/core/buttons.css" rel="stylesheet" />
    </head>
    <body>

    <div id="background">
        <div th:replace="includes/header"></div>



    </div>

    <div th:replace="includes/footer :: footer"></div>

    <div th:replace="includes/scripts"></div>
    </body>
</html>