<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>WizardBox | Authentification</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- HEADER-->
        <link href="/assets/css/header.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <!-- CONTENT -->
        <link href="/assets/css/login.css" rel="stylesheet" />
        <link href="/assets/css/core/inputtext.css" rel="stylesheet" />
        <link href="/assets/css/core/buttons.css" rel="stylesheet" />
    </head>
    <body>

        <div id="background">

            <div th:replace="includes/header"></div>

            <div id="messageblock" th:with="formdata=${formdata}">
                <span th:if="${formdata == null}"></span>
                <span th:unless="${true}" th:text="${formdata}"></span>
            </div>

            <!-- CONTENT -->
            <div id="content">
                <div class="content">
                    <span th:text="${error == null} ? 'Authentification' : ${error}" th:style="${error == null} ? '' : 'color: red;'" id="titleauth"></span>
                    <form method="POST" th:object="${logindata}">
                        <div class="form__group field">
                            <input type="input" class="form__field" placeholder="Email" name="email" id='email' required />
                            <label for="email" class="form__label">Email</label>
                        </div>
                        <div class="form__group field">
                            <input type="password" class="form__field" placeholder="Mot de passe" name="password" id='password' required />
                            <label for="password" class="form__label">Mot de passe</label>
                        </div>
                        <div class="btndiv" type="submit" id="btnsubmit">
                            <a>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Valider
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="/assets/js/submit.js"></script>
        <div th:replace="includes/scripts"></div>
    </body>
</html>