<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#"><i class="fab fa-discord"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="https://www.iutbeziers.fr/" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        <a href="https://github.com/Hunh0w" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a class="link-1" href="#">Accueil</a>
            <a href="#">Challenges</a>
            <a href="#">CTF</a>
            <a href="#">Contact</a>
        </p>
        <p>WizardBox &copy; 2021 | All rights reserved</p>
    </div>

</footer>