<header>
    <div class="titlehead">
        <h1 class="titlehead">WizardBox</h1>
    </div>
    <nav>
        <li><a href="/">Accueil</a></li>
        <li><a href="/challenges">Challenges</a></li>
        <li><a href="/CTF">CTF</a></li>
        <li><a href="#">Contact</a></li>
    </nav>

    <th:block th:if="${session.isEmpty() || session.account == null}">
        <div th:replace="includes/session/header_session :: nologged"></div>
    </th:block>
    <th:block th:unless="${session.isEmpty() || session.account == null}">
        <div th:replace="includes/session/header_session :: logged"></div>
    </th:block>
</header>